.nowrap {
    white-space: nowrap;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

h1.first-letter:first-letter {
    text-transform: uppercase;
}

.main, .aside {
    margin-top: 20px;
}

.flex {
    display: flex;
}

.flex.flex_centered {
    align-items: center;
}

.flex.flex_between {
    justify-content:  space-between;
}

.flex.flex_end {
    justify-content:  flex-end;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.login-page .container {
    display: flex;
    justify-content: center;
}

.login-page .container .row {
    margin: 0;
}

.login-wrap {
    padding: 28px 48px 36px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    position: relative;
}

.login-wrap h1 {
    font-size: 22px;
    margin: 0 0 15px;
}

.login-wrap form {
    width: 320px;
    max-width: 100%;
}

.login-wrap .progress-wrap {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
}

#login-progress {
    display: none;
}

.login-wrap .progress-wrap .progress {
    margin: 0;
}

.login-wrap .remember-me {
    margin: 20px 0 35px !important;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    margin: 0.375rem;
}

.table-actions {
    position: relative;
    height: 46px;
    box-sizing: border-box;
    font-size: 15px;

    opacity: 0;
    visibility: hidden;
}

.table-actions_lonely {
    margin-top: 25px;
}

.table-actions__errors {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    color: #fff;
}
.table-actions__errors-container {
    padding: 0 10px ! important;
    margin: 0;
}

.table-actions__errors-container:nth-child(2) {
    padding-top: 10px ! important;
}

.table-actions__errors-container:last-child {
    padding-bottom: 10px ! important;
}

.table-actions__errors-header {
    font-weight: bold;
    padding: 3px 10px;
}

.table-actions__errors-value {
    padding: 3px 10px;
}

.table-actions__errors-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.table-actions__label {
    padding: 3px 10px 3px 0;
}

.table-actions_lonely .table-actions__label {
    padding-left: 0;
}

.table-actions__buttons {
    display: none;
}

.table-actions__buttons.table-actions__buttons_active {
    display: flex;
}

.table-actions_button {
    margin: 0 5px;
}

.table-actions_button:last-child {
    margin-right: 0;
}

.table-actions.table-actions_active {
    opacity: 1;
    visibility: visible;
}

.table-actions__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    padding: 5px 0 5px 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-actions_lonely .table-actions__wrapper {
    padding-left: 0;
}

.table-actions + .table-content {
    margin: 0;
}

.table-content {
    margin: 25px 0 0;
}

.table-content th {
    font-weight: 400;
    color: #039be5;
}

.table-content .upper {
    text-transform: uppercase;
}

.sort-link {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
}

.sort-link.asc:after {
    content: "arrow_drop_down";
    font-family: 'Material Icons';
    font-size: 20px;
}

.sort-link.desc:after {
    content: "arrow_drop_down";
    font-family: 'Material Icons';
    transform: rotate(-180deg);
    font-size: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    margin: 25px 0 0;
    padding: 20px;
}

.search-form .row {
    display: flex;
}

.search-form .cell {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
}

.search-form .cell_flex {
    display: flex;
}

.search-form .cell.cell_greedy {
    max-width: 75%;
    flex-basis: 75%;
}

.search-form .cell .form-group {
    margin: 0 10px;
}

.search-form .cell:first-child .form-group {
    margin: 0 10px 0 0;
}

.search-form .cell:last-child .form-group {
    margin: 0 0 0 10px;
}

.search-form .cell.cell_cling .form-group {
    margin: 0;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}
.icon-link i {
    margin-right: 15px;
}

#edit-form {
    margin: 30px 0 0;
    position: relative;
}

#edit-form .preloader-wrapper {
    position: absolute;
    right: 66px;
    top: 102%;
}

/* action items */
.edit .dropdown-button, .locked .dropdown-button {
    opacity: 0.5;
    pointer-events: none;
}

.action-checkbox-active, .action-input-active {
    display: none;
}

.action-checkbox-text, .action-input-text {
    display: block;
}

.edit .action-checkbox-active, .edit .action-input-active {
    display: block;
}

.edit .action-checkbox-text {
    display: none;
}

.action-item-text {
    width: 100%;
}

.action-input-el {
    position: relative;
}

.action-input-active {
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    right: 0;
}

.edit .action-input-text {
    opacity: 0;
    visibility: hidden;
}

.action-input {
    margin: 0 ! important;
    height: 22px ! important;
    width: 90% ! important;
    min-width: 0;
    font-size: inherit;

    transition: none ! important;
}

.locked .item-checkbox+label, .edit .item-checkbox+label, .action-checkbox.disabled+label {
    opacity: 0.5 ! important;
    pointer-events: none ! important;
}